In [14]:
import pandas as pd
import gmaps
from config import gkey
gmaps.configure(api_key = gkey)

In [15]:
air_file = "Resources/mass_country_pm25.csv"
air_data = pd.read_csv(air_file, skiprows = 4)
air_data = air_data.loc[:, ["Country Name" , "1990", "2016"]]
air_data

                                          Country Name        1990        2016
0                                                Aruba         NaN         NaN
1                                          Afghanistan   99.918956   99.939068
2                                               Angola   74.316506   55.286287
3                                              Albania    0.000000    0.000000
4                                              Andorra    0.000000    0.000000
5                                           Arab World         NaN         NaN
6                                 United Arab Emirates  100.000000  100.000000
7                                            Argentina    0.003220    0.000000
8                                              Armenia    0.193037   23.134817
9                                       American Samoa    0.000000    0.000000
10                                 Antigua and Barbuda    0.000000    0.000000
11                                           Australia    0.000000    0.000000
12                                             Austria    0.000000    0.000000
13                                          Azerbaijan   13.428701   68.635805
14                                             Burundi   99.684118   99.985862
15                                             Belgium    0.000000    0.000000
16                                               Benin  100.000000  100.000000
17                                        Burkina Faso  100.000000  100.000000
18                                          Bangladesh   99.626187   99.998094
19                                            Bulgaria   97.019327    4.282346
20                                             Bahrain  100.000000  100.000000
21                                        Bahamas, The    0.000000    0.000000
22                              Bosnia and Herzegovina   99.249305   82.189650
23                                             Belarus   87.644014    0.000000
24                                              Belize    9.321907    0.000000
25                                             Bermuda    0.000000    0.000000
26                                             Bolivia   22.267090   13.638849
27                                              Brazil    0.090172    0.000000
28                                            Barbados    0.000000    0.000000
29                                   Brunei Darussalam    0.000000    0.000000
..                                                 ...         ...         ...
234  Latin America & the Caribbean (IDA & IBRD coun...         NaN         NaN
235                                        Timor-Leste    0.000000    0.000000
236  Middle East & North Africa (IDA & IBRD countries)         NaN         NaN
237                                              Tonga    0.000000    0.000000
238                            South Asia (IDA & IBRD)         NaN         NaN
239          Sub-Saharan Africa (IDA & IBRD countries)         NaN         NaN
240                                Trinidad and Tobago    0.000000    0.000000
241                                            Tunisia   65.383172   48.585895
242                                             Turkey   52.487913   70.582061
243                                             Tuvalu         NaN         NaN
244                                           Tanzania    3.438534    9.447743
245                                             Uganda   99.695299   99.988970
246                                            Ukraine   71.963405    0.000000
247                                Upper middle income         NaN         NaN
248                                            Uruguay    0.000000    0.000000
249                                      United States    0.005890    0.000000
250                                         Uzbekistan   98.864157   93.431194
251                     St. Vincent and the Grenadines    0.000000    0.000000
252                                      Venezuela, RB   60.831513    6.958966
253                             British Virgin Islands         NaN         NaN
254                              Virgin Islands (U.S.)    0.000000    0.000000
255                                            Vietnam   35.619823   28.730245
256                                            Vanuatu    0.000000    0.000000
257                                              World         NaN         NaN
258                                              Samoa    0.000000    0.000000
259                                             Kosovo         NaN         NaN
260                                        Yemen, Rep.  100.000000  100.000000
261                                       South Africa   61.401030   56.066438
262                                             Zambia   48.267348   41.524146
263                                           Zimbabwe   20.604200   12.333942

[264 rows x 3 columns]

In [16]:
city_file = "Resources/country-capitals.csv"
city_data = pd.read_csv(city_file)
city_data.head()

,CountryName,CapitalName,CapitalLatitude,CapitalLongitude,CountryCode,ContinentName
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe

In [17]:
city_data = city_data.rename(columns={"CountryName" : "Country Name",
                                     "CapitalName" : "Capital Name",
                                     "CapitalLatitude" : "Latitude",
                                     "CapitalLongitude" : "Longitude",
                                     "CountryCode" : "Country Code",
                                     "ContinentName" : "Continent Name"})
city_data

,Country Name,Capital Name,Latitude,Longitude,Country Code,Continent Name
0,Somaliland,Hargeisa,9.550000,44.050000,NaN,Africa
1,South Georgia and South Sandwich Islands,King Edward Point,-54.283333,-36.500000,GS,Antarctica
2,French Southern and Antarctic Lands,Port-aux-Français,-49.350000,70.216667,TF,Antarctica
3,Palestine,Jerusalem,31.766667,35.233333,PS,Asia
4,Aland Islands,Mariehamn,60.116667,19.900000,AX,Europe
5,Nauru,Yaren,-0.547700,166.920867,NR,Australia
6,Saint Martin,Marigot,18.073100,-63.082200,MF,North America
7,Tokelau,Atafu,-9.166667,-171.833333,TK,Australia
8,Western Sahara,El-Aaiún,27.153611,-13.203333,EH,Africa
9,Afghanistan,Kabul,34.516667,69.183333,AF,Asia
10,Albania,Tirana,41.316667,19.816667,AL,Europe
11,Algeria,Algiers,36.750000,3.050000,DZ,Africa
12,American Samoa,Pago Pago,-14.266667,-170.700000,AS,Australia
13,Andorra,Andorra la Vella,42.500000,1.516667,AD,Europe
14,Angola,Luanda,-8.833333,13.216667,AO,Africa
15,Anguilla,The Valley,18.216667,-63.050000,AI,North America
16,Antigua and Barbuda,Saint John's,17.116667,-61.850000,AG,North America
17,Argentina,Buenos Aires,-34.583333,-58.666667,AR,South America
18,Armenia,Yerevan,40.166667,44.500000,AM,Europe
19,Aruba,Oranjestad,12.516667,-70.033333,AW,North America
20,Australia,Canberra,-35.266667,149.133333,AU,Australia
21,Austria,Vienna,48.200000,16.366667,AT,Europe
22,Azerbaijan,Baku,40.383333,49.866667,AZ,Europe
23,Bahamas,Nassau,25.083333,-77.350000,BS,North America
24,Bahrain,Manama,26.233333,50.566667,BH,Asia
25,Bangladesh,Dhaka,23.716667,90.400000,BD,Asia
26,Barbados,Bridgetown,13.100000,-59.616667,BB,North America
27,Belarus,Minsk,53.900000,27.566667,BY,Europe
28,Belgium,Brussels,50.833333,4.333333,BE,Europe
29,Belize,Belmopan,17.250000,-88.766667,BZ,Central America
...,...,...,...,...,...,...
215,Togo,Lome,6.116667,1.216667,TG,Africa
216,Tonga,Nuku'alofa,-21.133333,-175.200000,TO,Australia
217,Trinidad and Tobago,Port of Spain,10.650000,-61.516667,TT,North America
218,Tunisia,Tunis,36.800000,10.183333,TN,Africa
219,Turkey,Ankara,39.933333,32.866667,TR,Europe
220,Turkmenistan,Ashgabat,37.950000,58.383333,TM,Asia
221,Turks and Caicos Islands,Grand Turk,21.466667,-71.133333,TC,North America
222,Tuvalu,Funafuti,-8.516667,179.216667,TV,Australia
223,Uganda,Kampala,0.316667,32.550000,UG,Africa
224,Ukraine,Kyiv,50.433333,30.516667,UA,Europe
225,United Arab Emirates,Abu Dhabi,24.466667,54.366667,AE,Asia
226,United Kingdom,London,51.500000,-0.083333,GB,Europe
227,United States,Washington D.C,38.883333,-77.000000,US,Central America
228,Uruguay,Montevideo,-34.850000,-56.166667,UY,South America
229,Uzbekistan,Tashkent,41.316667,69.250000,UZ,Asia
230,Vanuatu,Port-Vila,-17.733333,168.316667,VU,Australia
231,Venezuela,Caracas,10.483333,-66.866667,VE,South America
232,Vietnam,Hanoi,21.033333,105.850000,VN,Asia
233,US Virgin Islands,Charlotte Amalie,18.350000,-64.933333,VI,North America
234,Wallis and Futuna,Mata-Utu,-13.950000,-171.933333,WF,Australia
235,Yemen,Sanaa,15.350000,44.200000,YE,Asia
236,Zambia,Lusaka,-15.416667,28.283333,ZM,Africa
237,Zimbabwe,Harare,-17.816667,31.033333,ZW,Africa
238,US Minor Outlying Islands,Washington D.C,38.883333,-77.000000,UM,Australia
239,Antarctica,NaN,0.000000,0.000000,AQ,Antarctica
240,Northern Cyprus,North Nicosia,35.183333,33.366667,NaN,Europe
241,Hong Kong,NaN,0.000000,0.000000,HK,Asia
242,Heard Island and McDonald Islands,NaN,0.000000,0.000000,HM,Antarctica
243,British Indian Ocean Territory,Diego Garcia,-7.300000,72.400000,IO,Africa
244,Macau,NaN,0.000000,0.000000,MO,Asia

In [29]:
# Merge Capital Cities data on Country
merged_data = air_data.merge(city_data,on="Country Name", how="left")

In [30]:
# Filter relevant columns and drop empty rows
merged_data2 = merged_data[["Country Name", "1990", "2016", "Capital Name", "Latitude", "Longitude"]]
merged_data2_clean = merged_data2.dropna(how="any")

In [22]:
# Create gmap figures
fig_1990 = gmaps.figure(layout={
        'width': '1000px',
        'height': '600px'
})
fig_2016 = gmaps.figure(layout={
        'width': '1000px',
        'height': '600px'
})

In [23]:
# Create location and weight variables
locations = merged_data2_clean[["Latitude", "Longitude"]]
exp_1990 = merged_data2_clean["1990"]
exp_2016 = merged_data2_clean["2016"]

In [24]:
# Create heatmap layers
heat_layer_1990 = gmaps.heatmap_layer(locations, weights = exp_1990,
                                     dissipating = False, point_radius=5)
heat_layer_2016 = gmaps.heatmap_layer(locations, weights = exp_2016,
                                     dissipating = False, point_radius=5)

# Add heatmap layers to gmap figures
fig_1990.add_layer(heat_layer_1990)
fig_2016.add_layer(heat_layer_2016)

In [26]:
fig_1990

Figure(layout=FigureLayout(height='600px', width='1000px'))

In [27]:
fig_2016

Figure(layout=FigureLayout(height='600px', width='1000px'))